*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}
a{
    display: inline-block;
    text-decoration: none;
}
ul,li{
    list-style: none;
}
img{
    vertical-align: middle;
}
.container{
    width: 1175px;
    margin: 0 auto;
}





/* nav start */
nav {
    background-color: rgba(22, 22, 22, 0.8);
    margin: 20px 0;
    position: absolute;
    top: 12px;
    left: 0;
    width: 100%;
    z-index: 1111;
}
.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-logo {
    width: 12%;
    position: relative;
}
.logo img{
    width: 100%;
}
.logo-back-grnd {
    width: 193px;
    height: 70px;
    background-color: #313131;
    transform: skewX(-30deg);
    position: absolute;
    top: -37px;
    left: 20px;
}
.logo {
    position: absolute;
    top: -27px;
    left: 80%;
    transform: translateX(-50%);
    width: 100%;
}
.nav-menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu ul li a {
    font-family: 'Oswald', sans-serif;
    color: white;
    padding: 14px;
    text-transform: uppercase;
    position: relative;
    font-size: 13px;
}
.nav-menu ul li a::after{
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #e23e38;
    visibility: hidden;
}
.nav-menu ul li a:hover::after{
    visibility: visible;
}
.nav-menu ul li a:hover{
    background-color: white;
    color: black;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
/* nav end */



/* banner start */
#banner {
    position: relative;
}
.banner-slider{
    background: url(../images/slider.jpg) no-repeat center / cover;
    padding: 300px 0;
}
.banner-content-holder{
    width: 100%;
    text-align: center;
    position: relative;
    color: white;
}
.banner-text {
    position: absolute;
    top: 245px;
    left: 50%;
    z-index: 1;
    transform: translateX(-50%);
}
.banner-text h3 {
    font-family: 'Oswald';
    font-size: 32px;
    text-transform: uppercase;
}
.banner-text h1 {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 55px;
    color: #e23e38;
    font-weight: 700;
    letter-spacing: 2px;
}
.banner-text p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    width: 569px;
    line-height: 1.6;
    padding: 0 20px;
    margin-bottom: 25px;
}
.banner-btn a {
    font-family: 'Oswald';
    color: white;
    font-weight: 500;
    border: 1px solid white;
    width: 115px;
    height: 44px;
    line-height: 43px;
    margin: 0 10px;
}
.banner-btn a:hover{
    background-color: #e23e38;
    color: white;
    border-color: transparent;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

#banner .slick-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#banner .slick-dots li.slick-active {
    background-color: #e23e38;
    border-color: transparent;
}
#banner .slick-dots li {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid white;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
#banner .slick-dots li button {
    display: none;
}
/* banner end */

/* about start */
#about{
    padding: 50px 0;
}
.about-container {
    display: flex;
    justify-content: space-between;
}
.about-video {
    width: 49%;
    position: relative;
}
#about .about-video a i {
    position: absolute;
    font-size: 20px;
    color: #1c191f;
    top: -185px;
    left: 265px;
    width: 40px;
    height: 40px;
    background-color: #e23e38;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.vbox-content {
    text-align: center;
    width: 70% !important;
    position: relative;
    overflow: hidden;
    padding: 20px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100%;
    margin: 0 auto;
}
.about-video img{
    width: 100%;
}
.about-text {
    width: 49%;
    text-align: center;
}
.about-text p {
    font-family: 'Open Sans';
    font-size: 15px;
    margin-bottom: 16px;
    line-height: 1.6;
    color: #777777;
}
.about-text p:last-child {
    margin-bottom: 0;
}
.about-heading {
    margin-bottom: 20px;
}
.about-heading h2 {
    font-family: 'Oswald';
    text-transform: uppercase;
    font-size: 26px;
    color: #3b3b3b;
    font-weight: 500;
}
/* about end */

/* gallery start */
.gallery-heading {
    text-align: center;
    margin: 15px 0;
}
.gallery-heading h2 {
    font-family: 'Oswald';
    text-transform: uppercase;
    color: #353535;
    font-weight: 600;
    font-size: 25px;
}

#gallery{
    background: url(../images/gallery_bg.jpg) no-repeat center / cover;
    padding: 30px 0;
}
.gallery-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gallery-item{
    width: 32%;
}
.gallery-img{
    margin-bottom: 10px;
    width: 100%;
    position: relative;
}
.gallery-img img{
    width: 100%;
}
.gallery-img-overlay {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92%;
    height: 94%;
    background-color: rgba(226, 62, 56, 0.5);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(255, 255, 255, 0.5);
    visibility: hidden;
    opacity: 0;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.gallery-img:hover .gallery-img-overlay{
    visibility: visible;
    opacity: 1;
}
.overlay-icon i {
    color: white;
    font-size: 22px;
}
.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
    font-family: 'Open Sans';
}
.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
    font-family: 'Open Sans';
}

/* gallery end */


/* team start */
#team {
    padding: 50px 0;
    position: relative;
}
.team-container {
    width: 100%;
}
.team-item {
    width: 24%;
    border: 1px solid transparent;
    position: relative;
    margin: 60px 10px 0;
}
.team-item:hover{
    border-color: #ddd;
    transition: .5s;
    transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    -moz-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    -o-transform: translateY(-60px);
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.team-img {
    width: 100%;
    position: relative;
}
.team-img img{
    width: 100%;
}
.team-overlay-icon {
    background-color: rgba(226, 62, 56, 0.5);
    text-align: right;
    padding: 59px 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 92%;
    height: 94%;
    border: 4px solid rgba(255, 255, 255, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.team-item:hover .team-overlay-icon{
    opacity: 1;
    visibility: visible;
}
.team-overlay-icon ul li a {
    color: white;
    width: 40px;
    height: 40px;
    border: 1px solid white;
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
}
.team-overlay-icon ul li:last-child a{
    margin-bottom: 0;
}
.team-overlay-icon ul li a:hover{
    background-color: white;
    color: blueviolet;
    border-color: transparent;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.team-text {
    text-align: center;
    padding: 0px 16px;
}
.team-name {
    padding: 10px 0;
    margin-bottom: 70px;
}
.team-name h4 {
    font-family: 'Oswald';
    text-transform: uppercase;
    color: #353535;
}
.team-name p {
    font-family: 'Oswald';
    color: #353535;
}
.team-details {
    position: absolute;
    bottom: 12px;
    left: 0;
    width: 100%;
    padding: 0 16px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.team-item:hover .team-details{
    opacity: 1;
    visibility: visible;
}
.team-details p {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.5;
    color: #777777;
}

#team .slick-dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
#team .slick-dots li {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid#db3d36;
    margin: 0 5px;
    cursor: pointer;
}
#team .slick-dots li.slick-active {
    border-color: transparent;
    background-color: #db3d36;
}
#team .slick-dots li button{
    display: none;
}
.team-left {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: #23120b;
}
.team-right {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 20px;
    color: #23120b;
}
/* team end */

/* testimonial start */
#testimonial{
    background: url(../images/testi_bg.jpg) no-repeat center / cover;
    padding: 50px 0;
    position: relative;
}
.user-item {
    width: 100%;
}
.user{
    width: 575px;
    padding: 0 20px;
}
.user-img-container {
    display: flex;
    justify-content: space-between;
}
.user-img {
    width: 14%;
}
.user-img img {
    width: 100%;
}
.user-name {
    width: 83%;
}
.user-name h5 {
    font-family: 'Oswald';
    color: white;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 16px;
}
.user-name h6 {
    font-family: 'Oswald';
    color: white;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 5px;
}
.user-name i {
    color: #e23e38;
}
.user-comment {
    width: 100%;
}
.user-comment p {
    font-family: 'Open Sans';
    font-size: 12px;
    color: white;
    margin-top: 10px;
    line-height: 1.5;
}

#testimonial .slick-dots {
    position: absolute;
    bottom: -36px;
    left: 50%;
    transform: translateX(-50%);
}
#testimonial .slick-dots li {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid white;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
#testimonial .slick-dots li.slick-active{
    border-color: transparent;
    background-color: #e23e38;
}
#testimonial .slick-dots li button{
    display: none;
}
/* testimonial end */


/* membership start */
#membership {
    padding: 25px 0 100px 0;
    position: relative;
}
.membership-card{
    width: 32%;
    text-align: center;
    margin: 0 10px;
}
.memb-heading h4 {
    font-family: 'Oswald';
    background-color: #dddddd;
    text-transform: uppercase;
    font-size: 18px;
    color: #353535;
    padding: 10px 0;
}
.membership-card:hover .memb-heading h4{
    background-color: #e23e38;
    color: white;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.memb-img{
    background: url(../images/membership1.jpg) no-repeat center / cover;
    padding: 10px 0;
}
.memb-img2{
    background: url(../images/membership2.jpg) no-repeat center / cover;
    padding: 10px 0;
}
.memb-img3{
    background: url(../images/membership3.jpg) no-repeat center / cover;
    padding: 10px 0;
}
.memb-img h2 {
    font-family: 'Oswald';
    color: white;
    font-size: 60px;
}
.memb-img2 h2 {
    font-family: 'Oswald';
    color: white;
    font-size: 60px;
}
.memb-img3 h2 {
    font-family: 'Oswald';
    color: white;
    font-size: 60px;
}
.memb-img h2 span {
    font-size: 25px;
}
.memb-img2 h2 span {
    font-size: 25px;
}
.memb-img3 h2 span {
    font-size: 25px;
}
.memb-service {
    background-color: #f1f1f1;
    padding: 35px 0;
}
.memb-service ul li {
    margin-bottom: 25px;
}
.memb-service ul li:last-child{
    margin-bottom: 0;
}
.memb-service ul li a {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #717171;
    font-weight: 600;
}
.memb-join a {
    background-color: #ddd;
    font-family: 'Oswald';
    font-weight: 600;
    color: #353535;
    font-size: 20px;
    display: block;
    padding: 4px 0;
}
.membership-card:hover .memb-join a {
    background-color: #e23e38;
    color: white;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
#membership .slick-dots {
    position: absolute;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}
#membership .slick-dots li {
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 2px solid black;
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}
#membership .slick-dots li.slick-active {
    border-color: transparent;
    background-color: #e23e38;
}
#membership .slick-dots li button {
    display: none;
}
.memb-left {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    z-index: 1;
    border: 1px solid #ddd;
    cursor: pointer;
}
.memb-right {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    z-index: 1;
    border: 1px solid #ddd;
    cursor: pointer;
}
/* membership end */

/* count start */
#achivement {
    background: url(../images/count_bg.jpg) no-repeat center / cover;
    padding: 25px 0;
    margin: 50px 0;
}
#achivement .achiv-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#achivement .achiv-item {
    text-align: center;
}
#achivement .achiv-item h2 {
    color: white;
    font-family: 'Oswald';
    font-size: 50px;
}
#achivement .achiv-item p {
    color: white;
    font-family: 'Oswald';
}

/* count end */

/* collaboration start */
#collaboration{
    padding: 50px 0;
    position: relative;
}
.collab-container{
    width: 100%;
}
.collab-item {
    width: 215px !important;
    margin: 6px 10px;
    height: 100px !important;
}
.collab-item a{
    width: 100%;
    height: 100%;
}
.collab-item img{
    width: 100% !important;
    height: 100% !important;
}
.collab-left {
    position: absolute;
    top: 50%;
    left: 55px;
    transform: translateY(-50%);
    font-size: 27px;
    color: #353535;
    cursor: pointer;
}
.collab-right{
    position: absolute;
    top: 50%;
    right: 55px;
    transform: translateY(-50%);
    font-size: 27px;
    color: #353535;
    cursor: pointer;
}
.collab-right:hover{
    color: red;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.collab-left:hover{
    color: red;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
#collaboration .slick-center {
    box-shadow: 0 0 7px -3px;
    border: 1px solid #ddd;
}
/* collaboration end */

/* footer start */
footer {
    background: url(../images/footer_bg.jpg) no-repeat center / cover;
    padding: 20px 0;
}
.footer-border {
    padding: 25px 0;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}
.footer-logo {
    text-align: center;
    margin-bottom: 30px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
}
.opening-hour {
    width: 22%;
}
.opening-hour h4 {
    font-family: 'Oswald';
    text-transform: uppercase;
    margin-bottom: 25px;
    color: white;
}
.date-time {
    display: flex;
    justify-content: space-between;
    color: white;
}
.date p {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 5px;
}
.time p {
    font-family: 'Open Sans';
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 300;
}

.twitter-feed {
    width: 24%;
    color: white;
}
.twitter-feed h4{
    font-family: 'Oswald';
    text-transform: uppercase;
    margin-bottom: 25px;
    color: white;
}
.twitt {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
}
.twitt:last-child{
    margin-bottom: 0;
}
.twitt-icon {
    width: 10%;
    color: #1da1f2;
}
.twitt-icon i {
    margin-top: 4px;
}
.twitt-text{
    width: 90%;
}
.twitt-text span {
    font-family: 'Open Sans';
    font-size: 14px;
    line-height: 1.5;
    font-weight: 300;
}
.twitt-text p {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 14px;
    margin-top: 5px;
}

.footer-photo {
    width: 24%;
}
.footer-photo h4{
    font-family: 'Oswald';
    text-transform: uppercase;
    margin-bottom: 25px;
    color: white;
}
.f-photo-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.f-photo {
    width: 23%;
    margin-bottom: 9px;
}
.f-photo:nth-child(9){
    margin-bottom: 0;
}
.f-photo:nth-child(10){
    margin-bottom: 0;
}
.f-photo:nth-child(11){
    margin-bottom: 0;
}
.f-photo:nth-child(12){
    margin-bottom: 0;
}
.f-photo img {
    width: 100%;
}
.footer-contact {
    width: 25%;
}
.footer-contact h4 {
    font-family: 'Oswald';
    text-transform: uppercase;
    color: white;
    margin-bottom: 25px;
}
.contact-item {
    display: flex;
    justify-content: space-between;
}
.contact-icon {
    width: 8%;
    color: #e23e38;
}
.contact-info {
    width: 92%;
}
.contact-info a {
    color: white;
    margin-left: 6px;
    font-family: 'Open Sans';
    font-size: 14px;
    margin-bottom: 10px;
}
.social-heading h4 {
    font-family: 'Oswald';
    text-transform: uppercase;
    color: white;
    margin: 26px 0;
}
.social-icon ul {
    display: flex;
}
.social-icon ul li a {
    width: 30px;
    height: 30px;
    color: white;
    border: 1px solid white;
    text-align: center;
    line-height: 30px;
    border-radius: 3px;
    margin: 0 5px;
}
.social-icon ul li a:hover{
    background-color: #e23e38;
    color: white;
    border-color: transparent;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.copyright {
    margin-top: 15px;
    text-align: center;
}
.copyright p {
    color: white;
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: 400;
}
.copyright p a {
    color: #e23e38;
}

/* footer end */











/* tab-section start */
.tabs {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 25px;
}
.tabs li {
    font-family: 'Oswald';
    font-size: 16px;
    font-weight: 700;
    width: 17%;
    background-color: #f1f1f1;
    color: #353535;
    padding: 10px 0;
    cursor: pointer;
    text-transform: uppercase;
}
.tabs li.active{
    background-color: #e23e38;
    color: white;
}
.tab-content{
    display: none;
}

.tab-content.active {
    display: block;
    
}
.gym-classes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.gym-classes a {
    width: 19.5%;
    height: 180px;
    display: flex;
    background-color: #f1f1f1;
    margin-bottom: 6px;
    color: #353535;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gym-classes a:nth-child(6){
    margin-bottom: 0;
}
.gym-classes a:nth-child(7){
    margin-bottom: 0;
}
.gym-classes a:nth-child(8){
    margin-bottom: 0;
}
.gym-classes a:nth-child(9){
    margin-bottom: 0;
}
.gym-classes a:nth-child(10){
    margin-bottom: 0;
}
.gym-classes a:hover{
    background-color: #db3d36;
    color: white;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.gym-classes a p {
    font-family: 'Open Sans';
    font-size: 14px;
}
.gym-classes a p:last-child {
    font-weight: 600;
}
.gym-classes a i {
    font-size: 30px;
    margin: 5px 0;
}

/* tab-section end */